html, body, div#app {
    font-family: 'Roboto', sans-serif;
    height: 100%;
    margin: 0;
    color: rgb(101,101,101);
}

div#mapContainer {
	height: 100%;
	width: 100%;
	position: fixed;
}

div#mapContainer.routing-selecting {
	cursor: crosshair;
}

/* Layer list styles */

div#mapContainer div#layerControl {
    transition: width .25s, height .25s;
    left: .5em;
    top: 4.3em;
    position: absolute;
    z-index: 100;
    width: 1.65em;
    height: 1.65em;
    overflow: hidden;
    white-space: nowrap;
    background-color: rgba(255,255,255,0.85);
}

div#mapContainer div#layerControl:hover {
    cursor: inherit;
    background-color: rgba(255,255,255,0.85);
}

div#mapContainer.layerControlVisible div#layerControl {
    width: 250px;
    height: 248px;
}

div#mapContainer div#layerControl button#layerControlButton {
    display: inline-block;
    vertical-align: middle;
}

div#mapContainer div#layerControl h5 {
    font-size: 14px;
    font-weight: normal;
    border-bottom: 1px solid rgb(101,101,101);
    margin: 0 6px;
    padding: 0 0 4px;
    display: inline-block;
    vertical-align: middle;
}

div#mapContainer div#layerControl div#layerControlListContainer {
    display: none;
    height: 222px;
    margin: 0 0 0 28px;
    overflow-x: hidden;
    overflow-y: auto;
}

div#mapContainer.layerControlVisible div#layerControl div#layerControlListContainer {
    display: block;
}

div#mapContainer div#layerControl input[type=checkbox] {
    display: inline-block;
    vertical-align: middle;
    height: 8px;
    width: 8px;
    margin: 0;
}

div#mapContainer div#layerControl p {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    margin: 0px 0 0 8px;
    padding: 0px;
}

div#mapContainer div#layerControl input[type=checkbox]:hover,
div#mapContainer div#layerControl p:hover {
    font-weight: bold;
    cursor: pointer;
}

div#mapContainer div#layerControl ul.wmsLayerList {
    margin: 0;
    padding: 0 14px;
}

div#mapContainer div#layerControl li.wmsLayerListItem {
    list-style-type: none;
    margin: 4px 0;
}

div#mapContainer div#routeControl {
	left: .5em;
    bottom: .5em;
    position: absolute;
    z-index: 100;
}

div#mapContainer div#settingsControl {
    left: 2.7em;
    bottom: .5em;
    position: absolute;
    z-index: 100;
}

/* hide settings control when routing complete */
div#mapContainer.routing-selecting div#settingsControl,
div#mapContainer.routing-routing div#settingsControl,
div#mapContainer.routing-complete div#settingsControl {
    display: none;
}
div#mapContainer div#rerunControl {
    left: 2.7em;
    bottom: .5em;
    position: absolute;
    z-index: 100;
}

div#mapContainer div#clearControl {
	left: 4.95em;
    bottom: .5em;
    position: absolute;
    z-index: 100;
}

div#mapContainer div.custom-control img {
	width: 20px;
    padding-top: 1px;
}

div#mapContainer button {
    overflow: hidden;
}

div#mapContainer button:hover,
div#mapContainer div.ol-control:hover {
	cursor:pointer;
}

div#mapContainer div#routesListControl {
  	transition: height .25s;
	bottom: 0px;
    left: 0px;
    height: 0;
    background-color: rgba(255,255,255,0.7);
    z-index: 75;
    width: 160px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

div#mapContainer div#routesListControl.active {
	height: calc( 100% - 112px );
}

div#mapContainer.layerControlVisible div#routesListControl.active {
    height: calc( 100% - 334px );
}

div#mapContainer div#routesListControl:hover {
	background-color: rgba(255,255,255,0.75);
	cursor: inherit;
}

div#mapContainer div#routesListControl h5 {
    font-size: 14px;
    padding: 0 0 4px;
    margin: 6px;
    text-align: center;
    font-weight: normal;
    border-bottom: 1px solid rgb(101,101,101);
}

div#mapContainer div#routesListControl div#routesListScrollContainer {
    overflow-y: auto;
    max-height: calc( 100% - 80px );
}

div#mapContainer div#routesListControl ul#routesList {
    padding: 0 16px;
    font-size: 14px;
    list-style: none;
    margin: 0;
}

div#mapContainer div#routesListControl ul#routesList li.routesListItem {
    margin: 4px 0;
}

div#mapContainer div#routesListControl ul#routesList li.routesListItem p {
    margin: 0;
    padding: 0;
    display: inline-block;
}

div#mapContainer div#routesListControl ul#routesList li.routesListItem p:hover {
    font-weight: bold;
    cursor: pointer;
    letter-spacing: 1px;
}

/* routing config settings modal content */
div#routingConfigModalContent {

}

div#routingConfigModalContent h3 {
    margin: 0 0 10px;
}

div#routingConfigModalContent button {
    margin: 14px 0 0;
}

div#routingConfigModalContent div.routingConfigSliderContainer {

}

div#routingConfigModalContent div.routingConfigSliderContainer div.noUi-horizontal {
    height: 10px;
}

div#routingConfigModalContent div.routingConfigSliderContainer div.noUi-handle.noUi-handle-lower {
    width: 18px;
    height: 18px;
    left: -6px;
    top: -5px;
}

div#routingConfigModalContent div.routingConfigSliderContainer div.noUi-handle.noUi-handle-lower:before {
    left: 5px;
    top: 5px;
    height: 7px;
}

div#routingConfigModalContent div.routingConfigSliderContainer div.noUi-handle.noUi-handle-lower:after {
    left: 11px;
    top: 5px;
    height: 7px;
}