html, body, div#app {
    height: 100%;
    margin: 0;
}

div#mapContainer {
	height: 100%;
	width: 100%;
	position: fixed;
}

div#mapContainer.crosshair {
	cursor: crosshair;
}

div#mapContainer div#routeControl {
	left: .5em;
    bottom: .5em;
    position: absolute;
}

div#mapContainer div#routeControl img {
	width: 20px;
    padding-top: 1px;
}

div#mapContainer button:hover,
div#mapContainer div.ol-control:hover {
	cursor:pointer;
}